@model IEnumerable<Business.Interop.PersonDto>
@{
    ViewData["Title"] = "Люди";
}

<!DOCTYPE html>

<html>
    <body>
        @if(!Model.Any())
    {
        <p>Людей нет, добавьте новый</p>
    }
    else
    {
         <table class="table">
            <tr>
                <th>ФИО</th>
                <th>Паспорт</th>
                <th>Дата рождения</th>
            </tr>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Fio</td>
                    <td>@person.Passport</td>
                    <td>@person.Birthdate</td>
                    <td><a asp-controller="Person" asp-action="Home" asp-route-id="@person.Id">Подробности</a></td>
                    <td><a asp-controller="Person" asp-action = "Delete" asp-route-id="@person.Id">Удалить</a> </td>
                </tr>
            }
        </table>
        <br/>
    }
    <p><a asp-controller="Person" asp-action="Edit">Создать</a></p>
</body>
</html>
